.blogItemInfo {
    display: flex;
    justify-content: space-between;
}
.blogItemRight img {
    height: 250px;
}

@media screen and (max-width: 1024px) {
    .blogItemInfo {
        display: grid;
    }
    .blogItemRight img {
        height: 100%;
        width: 100%;
    }
    .date {
        margin-top: 10px;
    }
    .blogItemInfo .Title {
        font-size: 40px;
    }
}
.Title {
    font-size: 65px;
    text-transform: uppercase;
    z-index: 10;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.blogItemLeft {
    justify-content: center;
}

.blogItemLeft p {
    font-size: 20px;
}

.tealLine {
    background-color: teal;
}

.blogBody {
    height: fit-content;
    background-color: rgba(0, 128, 128, 0.5);
    box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
    padding: 1em;
    position: relative;
    white-space: pre-wrap;
}

.backButton {
    margin: 50px;
    width: 100px;
    background-color: teal;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 8px;
}

.authorStyle {
    text-transform: lowercase;
    font-family: "Montserrat", sans-serif;
}

.authorStyle::first-letter {
    text-transform: uppercase;
}

.deleteButton {
    margin: 50px;
    width: 100px;
    background-color: teal;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 8px;
}
